<app-toolbar></app-toolbar>

<app-floating-fab
    (click)="startAddingContact()"
    aria-label="Add new contact">

    <mat-icon>
        add
    </mat-icon>

</app-floating-fab>

<div>
<!-- <input 
    type="text" 
    placeholder="Search contact" 
    #search
    (keyup.enter)="doSearch(search.value)"
    (keyup)="clearFilterIfNoTerm(search.value)"/>
</div> -->
<section>

    <p *ngIf="!contacts.length" style="text-align: center;">There's no contacts registered</p>

    <div *ngIf="contacts.length">
            <app-contact 
                *ngFor="let contact of contacts" 
                [contact]="contact" 
                (onRemove)="removerContato($event)">
    
            </app-contact>
    </div>
    
</section>
