<h1>Contact list</h1>
<button (click)="startAddingContact()">Add contact</button>
<div>
<input 
    type="text" 
    placeholder="Search contact" 
    #search
    (keyup.enter)="doSearch(search.value)"
    (keyup)="clearFilterIfNoTerm(search.value)"/>
</div>
<p *ngIf="!contacts.length">Nenhum contato cadastrado</p>
<ul *ngIf="contacts.length">
    <li *ngFor="let contact of contacts">
        <app-contact [contact]="contact" (onRemove)="removerContato($event)">
            Hello!
            <span anotherOne>HAA</span>
        </app-contact>
    </li>
</ul>
