<app-toolbar></app-toolbar>

<app-floating-fab
    (click)="startAddingContact()"
    aria-label="Add new contact">

    <mat-icon>
        add
    </mat-icon>

</app-floating-fab>

<div>
<!-- <input 
    type="text" 
    placeholder="Search contact" 
    #search
    (keyup.enter)="doSearch(search.value)"
    (keyup)="clearFilterIfNoTerm(search.value)"/>
</div> -->
<p *ngIf="!contacts.length">There's no contacts registered</p>
<ul *ngIf="contacts.length">
    <li *ngFor="let contact of contacts">
        <app-contact [contact]="contact" (onRemove)="removerContato($event)">
        </app-contact>
    </li>
</ul>
