<h1 mat-dialog-title>Add contact</h1>

<form>
  <div mat-dialog-content>


    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Name</mat-label>
      <input matInput autofocus [(ngModel)]="contactName" name="contactName" required>
      <mat-error>Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Phone number</mat-label>
      <input matInput [(ngModel)]="contactNumber" name="contactNumber">
    </mat-form-field>


  </div>

  <div mat-dialog-actions>

    <button mat-flat-button color="primary" (click)="save()">Save</button>

    <button mat-flat-button mat-dialog-close>Close</button>

  </div>

</form>